/* Hoja de estilos de alumnos */

html {
   scroll-behavior: smooth;
}

.MainContent {
   display: flex;
}

.container {
}

header {
   margin-bottom: 2em;
}

.Card {
   /* min-width: calc(100vw - 300px); */
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0px 0px 5px rgba(19, 18, 18, 0.5);
   margin-bottom: 10px;
}

.Card-buttons {
   display: flex;
   gap: 2px;
}
.Card-btn {
   width: 100px;
   height: 30px;
   /* background-color: lightgray; */
   display: block;
   /* border: 1px solid black; */
   border-radius: 5px;
   text-align: center;
   text-decoration: none;

   border-radius: 100px;
   background-color: #f2f2f2;
   border: 1px solid #f2f2f2;
   color: #242424;
   font-size: 14px;
   text-decoration: none;
   cursor: pointer;
   padding-top: 4px;
}

.Card-btn:hover {
   background-color: lightblue;
   /* transform:scale(1.2); */
   transition: width 0.2s;
   width: 120px;
   text-decoration: none;
}

.Card-btn.Card-btn--primary::after {
   content: "<<";
   /* text-wrap: nowrap; */
}

.Card-btn.Card-btn--secondary::after {
   content: ">>";
   /* text-wrap: nowrap; */
}

.Card-keywords ul {
   display: flex;
   gap: 5px;
   list-style-type: none;
}

.Card-keywords .Keyword {
   /* border: 1px solid black; */
   /* background-color: gray; */
   border-radius: 100px;
   background-color: #f2f2f2;
   border: 1px solid #f2f2f2;
   padding: 5px;
   color: #242424;
   font-size: 14px;
   padding: 8px 16px;
   text-decoration: none;
   cursor: pointer;
}
.Card-keywords .Keyword:hover {
   background-color: lightblue;
}

.Card-reading-time {
}

.Card-Stats {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.Card-title {
}
.Card-Header {
   display: flex;
   justify-content: space-between;
}
.Card-Footer {
   display: flex;
   justify-content: space-between;
}
.Card-buttons {
   display: flex;
}

/* ----- Formulario Marcar como leido ----- */
.Form-checkbox {
}
.Form-checkbox #check_leido_introduccion {
}

.Nav-capitulo {
   padding-bottom: 10px;
   padding-top: 10px;
   border-bottom: 1px solid gray;
}

/* ----- Toggle de Menu ---- */
.Nav-articulos {
   max-height: 1000px; /* Set a large enough value */
   overflow: hidden;
   transition: max-height 0.3s ease;
}

.Nav-articulos.closed {
   max-height: 0;
}

.Nav-toggle {
   /* display: flex; */
   padding: 5px;
   cursor: pointer;
}
.Nav-toggle .icon {
   font-family: monospace; /* Add this line */
}

.Nav-toggle:hover {
   /* Remove underline from links */
   text-decoration: none;
}



/* ----- Estilos de Contenido Markdown ----- */
.Card-Content img {
   max-width: 90%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
}

#content {
   width: auto; /* sobreescribo el width proveniente de markdown.css */
   max-width: 70vw;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
   .MainContent {
      flex-direction: column;
   }
   .Nav-capitulo {
      text-align: center;
   }
   .Nav-capitulo li {
      display: block;
   }

   .Card-Header {
      flex-direction: column;
   }
   h1 {
      font-size: 1.3rem;
   }
   .Card-title {
      font-size: 1.5rem;
   }
   .Card-Content h1 {
      font-size: 1.3rem;
   }
   #content {
      width: auto;
      max-width: 100vw;
   }
}

p code,
li code {
   /* background-color: #eee; */
   color: lightcoral;
   padding: 0.2em;
   border-radius: 0.2em;
}

pre {
   border-radius: 0.5rem !important;
   margin-top: 1.5rem !important;
   margin-bottom: 1.5rem !important;
   padding: 1.5rem !important;
}

.max-w-4xl {
   max-width: 56rem;
}

.mx-auto {
   margin-left: auto;
   margin-right: auto;
}

/* ----- Estilos de Bloques ------ */
.ejercicios {
   background: lightgray;
   border-radius: 5px;
   border: 2px dashed gray;
   padding: 10px;
   margin-top: 5px;
   margin-bottom: 10px;
}
.ejercicios h3 {
   margin-top: 0;
   margin-bottom: 0;
}

.code-title {
   background: #2d2d2d;
   color: white;
   margin-bottom: -20px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   padding: 5px 20px;
}

/* ----- Reemplazar estilos de PrismJS ------ */
.token.comment {
   /* color: green; */
}


/* --------------- Estilos del Modal --------------- */
/* .modal {
   display: none;
   position: fixed;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 9999;
 }
 
 .modal-content {
   background-color: #f2f2f2;
   color: #000;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 } */

 .modal {
   display: block;
   position: fixed;
   bottom: -100px; /* Start offscreen */
   left: 50%;
   transform: translateX(-50%);
   z-index: 9999;
   transition: bottom 0.5s ease-in-out; /* Add transition */
 }
 

 .modal-content {
   background-color: #f2f2f2;
   color: #000;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }